:root{
    --style-fonts:"roboto",sans-serif;;
}
html{
    font-family: var(--style-fonts);
}
body{
    display: flex;
}
header{
    height: 100vh;
    width: 256px;
    border-right: 1px solid #CED0D2;
}

/***** code nav*****/
/*nav{


}
.nav-user {
   
}*/
.nav-user div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav-user div:first-child{
    background-color: #1D3D6F;
    height: 70px;
}
.nav-user div:last-child{
    margin-inline-start: 1rem;
    height: 50px;
}
.nav-logo-img img{
    height: 30px;
}
.nav-content-img img{
    margin-top: 23px;
    height: 40px;
}
.flex-content{
    margin-top: 40px;
    flex-direction: column;
}
.flex-content span{
    margin-inline-end: 80px;
    color: #409CFF;
}
.flex-content p{
    margin-top: 5px;
    margin-inline-end: 142px;
    color: #9CA2A7;
    font-size: 14px;
}
.nav-menu{
    margin-block-start: 1.5rem;
    border-top: 1px solid #9CA2A7;
    border-bottom: 1px solid #9CA2A7;
}
.nav-menu li {
    list-style: none;
}
.nav-menu li a{
    text-decoration: none;
    color: #6C757D;
    margin-bottom: 20px;
}

/*.nav-menu a img{
    width: 22px;
    height: 22px;
    margin-inline-start: -35px;
    margin-block-start: 20px;
}*/
.nav-menu a p{
    font-size: 14px;
    margin-inline-start: 0.5rem;
    margin-inline-start: -35px;
    margin-block-start: 33px;
}
/*Find out the fix*/
.nav-menu_list{
    display: none
}
.flex-nav-direction{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-nav-direction img{
    width: 20px;
    height: 20px;
    margin-inline-start: -48px;
}

/*** code main***/
.section-title{
    position: relative;
    width: 100vw;
    background-image: url(/assets/img/Graphic-side.svg);
    background-position: -28px -15px;
    height: 70px;
}
.section-title h1{
    font-size: 20px;
    color: #fff;
    margin: 0;
    padding-inline-start: 2.5rem;
    padding-block: 22px;

}
.section-title span{
    font-size: 15px;
    margin-top: 0;
    font-weight: 300;
}
.section-1{
    margin-inline-start: 1.5rem;
}
.section-1 h2{
    color: #00287E;
}
.flex-fast-asccess{
    display: flex;
    gap: 8px;
}
.fast-access{
    width: 175px;
    height: 80px;
    background-color:#007BFF;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 9px 12px 0px rgba(221,223,223,1);
}
.fast-access p{
    font-size: 11px;
}
.fast-access img{
    margin-inline-start: 21px;
    margin-block-start: 0.8rem;
    width: 30px;
    height: 30px;
}
.fast-access p{
    margin-block-start: 5px;
}
.section-2{
    margin-inline-start: 1.5rem;
    margin-block-start: 2rem;
    line-height: 20px;
    width: 750px;
    height: 365px;
    border: 1px solid #CED0D2;
    box-shadow: 0px 9px 12px 0px rgba(221,223,223,1);
}

.section-2 h2{
    color: #00287E;
    margin-inline-start: 1.5rem;
    font-size: 20px;
}
.section-2-info{
    margin-inline:1.5rem ;
    border: 1px solid #CED0D2;
    background-color: #F8F9FA;
    font-size: 12px;
}
.section-2-info h3 {
    color: #007BFF;
}
.section-2-info h3, p{
    margin-inline: 1rem;
}
.section-2-info .button {
    position:relative;
    color: #007BFF;
    border: 1px solid #007BFF ;
    width: 59px;
    height: 28px;
    left: 632px;
    bottom: 6px;
}

